body{
  margin: 0;
  background-color: #F2F2F2;
  color: #19181C;
  padding: 0;
}

.content{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  }

$main-color: #D2143A;

.row{
  padding: 1% 2% 1% 2%;
  margin: 0;      
}

.heading{
  @extend .row;
  text-align: center;
  background-color: $main-color;
  }

.title{
  font-size: 25px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-item{
   @extend .row;
  color: grey;
  border: 1px solid silver;
  padding: 3%;
}

list{
    li{
      border: 1px solid silver;
    }
}


.list-item:hover {
    background: #EEEEEE;
    cursor: pointer;
  }

  .image {
    img {
      height: 100%;
      width: 100%;
    }
  }

  .restaurantName{
    font-size: 20px;
    color: black;
    padding-bottom: 2%;
    button{
      margin: 2%;
    }
  }

  .delivery{
    padding-top: 5%;
  }

  $button-color: #88CC00;

  .viewMenu{
    padding-top: 4%;
    text-align: right;
    button{
      width: 80%;
      background-color: $button-color;
    }
  }

  .options{
    li{
      margin-bottom: 1%;
    }
  }

  .panel-body {
    img {
      width: 100%;
    }
  }

  .panel-body:hover{
    background: #EEEEEE;
    cursor: pointer;
  }

li{
  h1{
    margin-left: 2%;
  }
}

.ingredients{
  color: #c15e5e;
}

.panel-footer{
  padding: 5px 15px;
    button{
      background-color: $button-color;
      float: right;
      margin-top: -10px;
       }
    b{
      float: left;
    }
}

.panel-footer:before, .panel-footer:after {
    display: table;
    content: " ";
}
.panel-footer:after {
    clear: both;
}







 


